## Exploring Data with DataFrames and Spark SQL
In this exercise, you will explore data using the Spark DataFrames API and Spark SQL.

### Load Data Using an Explicit Schema
To explore data, you must load it into a programmatic data object such as a DataFrame. If the structure of the data is known ahead of time, you can explicitly specify the schema for the DataFrame.

In this exercise, you will work with data that records details of flights.

In [1]:
from pyspark.sql.types import *

flightSchema = StructType([
  StructField("DayofMonth", IntegerType(), False),
  StructField("DayOfWeek", IntegerType(), False),
  StructField("Carrier", StringType(), False),
  StructField("OriginAirportID", IntegerType(), False),
  StructField("DestAirportID", IntegerType(), False),
  StructField("DepDelay", IntegerType(), False),
  StructField("ArrDelay", IntegerType(), False),
])

flights = spark.read.csv('wasb:///data/raw-flight-data.csv', 
                         schema=flightSchema, header=True)
flights.show()

Starting Spark application

SparkSession available as 'spark'.
+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          11433|        13303|      -3|       1|
|        19|        5|     DL|          14869|        12478|       0|      -8|
|        19|        5|     DL|          14057|        14869|      -4|     -15|
|        19|        5|     DL|          15016|        11433|      28|      24|
|        19|        5|     DL|          11193|        12892|      -6|     -11|
|        19|        5|     DL|          10397|        15016|      -1|     -19|
|        19|        5|     DL|          15016|        10397|       0|      -1|
|        19|        5|     DL|          10397|        14869|      15|      24|
|        19|        5|     DL|          10397|        10423|      33|      34|
|        19|        5|     DL|          11278|        10397|     323|     322|
|        19|        5|     DL|          14107|        13487|      -7|     -13|
|        19|        5|     DL|          11433|        11298|      22|      41|
|        19|        5|     DL|          11298|        11433|      40|      20|
|        19|        5|     DL|          11433|        12892|      -2|      -7|
|        19|        5|     DL|          10397|        12451|      71|      75|
|        19|        5|     DL|          12451|        10397|      75|      57|
|        19|        5|     DL|          12953|        10397|      -1|      10|
|        19|        5|     DL|          11433|        12953|      -3|     -10|
|        19|        5|     DL|          10397|        14771|      31|      38|
|        19|        5|     DL|          13204|        10397|       8|      25|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 20 rows

### Infer a Data Schema
If the structure of the data source is unknown, you can have Spark auomatically infer the schema.

In this case, you will load data about airports without knowing the schema.

In [2]:
airports = spark.read.csv('wasb:///data/airports.csv', 
                          header=True, inferSchema=True)
airports.show()

+----------+-----------+-----+--------------------+
|airport_id|       city|state|                name|
+----------+-----------+-----+--------------------+
|     10165|Adak Island|   AK|                Adak|
|     10299|  Anchorage|   AK|Ted Stevens Ancho...|
|     10304|      Aniak|   AK|       Aniak Airport|
|     10754|     Barrow|   AK|Wiley Post/Will R...|
|     10551|     Bethel|   AK|      Bethel Airport|
|     10926|    Cordova|   AK|Merle K Mudhole S...|
|     14709|  Deadhorse|   AK|   Deadhorse Airport|
|     11336| Dillingham|   AK|  Dillingham Airport|
|     11630|  Fairbanks|   AK|Fairbanks Interna...|
|     11997|   Gustavus|   AK|    Gustavus Airport|
|     12523|     Juneau|   AK|Juneau International|
|     12819|  Ketchikan|   AK|Ketchikan Interna...|
|     10245|King Salmon|   AK| King Salmon Airport|
|     10170|     Kodiak|   AK|      Kodiak Airport|
|     13970|   Kotzebue|   AK| Ralph Wien Memorial|
|     13873|       Nome|   AK|        Nome Airport|
|     14256| Petersburg|   AK|Petersburg James ...|
|     14828|      Sitka|   AK|Sitka Rocky Gutie...|
|     12807| St. Mary's|   AK|  St. Mary's Airport|
|     11445|   Unalaska|   AK|    Unalaska Airport|
+----------+-----------+-----+--------------------+
only showing top 20 rows

In [3]:
airports.printSchema()

root
 |-- airport_id: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- name: string (nullable = true)

### Use DataFrame Methods
Spark DataFrames provide functions that you can use to extract and manipulate data. For example, you can use the **select** function to return a new DataFrame containing columns selected from an existing DataFrame.

In [4]:
cities = airports.select("city", "name")
cities.show(truncate = False)

+-----------+-----------------------------------+
|city       |name                               |
+-----------+-----------------------------------+
|Adak Island|Adak                               |
|Anchorage  |Ted Stevens Anchorage International|
|Aniak      |Aniak Airport                      |
|Barrow     |Wiley Post/Will Rogers Memorial    |
|Bethel     |Bethel Airport                     |
|Cordova    |Merle K Mudhole Smith              |
|Deadhorse  |Deadhorse Airport                  |
|Dillingham |Dillingham Airport                 |
|Fairbanks  |Fairbanks International            |
|Gustavus   |Gustavus Airport                   |
|Juneau     |Juneau International               |
|Ketchikan  |Ketchikan International            |
|King Salmon|King Salmon Airport                |
|Kodiak     |Kodiak Airport                     |
|Kotzebue   |Ralph Wien Memorial                |
|Nome       |Nome Airport                       |
|Petersburg |Petersburg James A Johnson         |
|Sitka      |Sitka Rocky Gutierrez              |
|St. Mary's |St. Mary's Airport                 |
|Unalaska   |Unalaska Airport                   |
+-----------+-----------------------------------+
only showing top 20 rows

### Combine Operations
You can combine functions in a single statement to perform multiple operations on a DataFrame. In this case, you will use the **join** function to combine the **flights** and **airports** DataFrames, and then use the **groupBy** and **count** functions to return the number of flights from each airport.

In [5]:
flightsByOrigin = flights.join(airports, 
                               flights.OriginAirportID == airports.airport_id).groupBy("city").count()
flightsByOrigin.show()

+-----------------+------+
|             city| count|
+-----------------+------+
|          Phoenix| 90281|
|            Omaha| 13537|
|   Raleigh/Durham| 28436|
|        Anchorage|  7777|
|           Dallas| 19503|
|          Oakland| 25503|
|      San Antonio| 23090|
|       Louisville| 10953|
|     Philadelphia| 47659|
|      Los Angeles|118684|
|Dallas/Fort Worth|105024|
|       Sacramento| 25193|
|     Indianapolis| 18099|
|        Cleveland| 25261|
|        San Diego| 45783|
|    San Francisco| 84675|
|        Nashville| 34927|
|    Oklahoma City| 13967|
|          Detroit| 62879|
|         Portland| 30640|
+-----------------+------+
only showing top 20 rows

### Create a View

In [6]:
airports.createOrReplaceTempView("airportData")

In [7]:
spark.sql("SELECT state, COUNT(*) AS airports FROM airportData GROUP BY state ORDER BY state").show()

+--------------------+--------+
|               state|airports|
+--------------------+--------+
|                  AK|      22|
|                  AL|       5|
|                  AR|       4|
|                  AZ|       5|
|                  CA|      32|
|                  CO|      11|
|                  CT|       2|
|                  DC|       2|
|                  DE|       1|
|                  FL|      20|
|Federated States ...|       1|
|                  GA|       8|
|                  HI|       7|
|                  IA|       5|
|                  ID|       6|
|                  IL|       8|
|                  IN|       4|
|                  KS|       4|
|                  KY|       3|
|                  LA|       7|
+--------------------+--------+
only showing top 20 rows

In [8]:
%%sql
SELECT airport_id, city, state, name
FROM airportData

### Count the Rows in a DataFrame
Now that you're familiar with working with DataFrames, a key task when building predictive solutions is to explore the data, determing statistics that will help you understand the data before building predictive models. For example, how many rows of flight data do you actually have?

In [9]:
flights.count()

2719418

### Determine Summary Statistics
Predictive modeling is based on statistics and probability, so you will often start by looking at summary statistics. The **describe** function returns a DataFrame containing the **count**, **mean**, **standard deviation**, **minimum**, and **maximum** values for each numeric column.

In [11]:
flights.describe().select("summary","ArrDelay","DepDelay").show()

+-------+-----------------+-----------------+
|summary|         ArrDelay|         DepDelay|
+-------+-----------------+-----------------+
|  count|          2690385|          2691974|
|   mean| 6.63768791455498|10.53686662649788|
| stddev|38.64881489390021|36.09952806643081|
|    min|              -94|              -63|
|    max|             1845|             1863|
+-------+-----------------+-----------------+

### Determine the Presence of Duplicates
The data you have to work with won't always be perfect - often you'll want to *clean* the data; for example to detect and remove duplicates that might affect your model. You can use the **dropDuplicates** function to create a new DataFrame with the duplicates removed, enabling you to determine how many rows are duplicates of other rows.

In [12]:
flights.count() - flights.dropDuplicates().count()

22435

### Identify Missing Values
As well as determing if duplicates exist in your data, you should detect missing values, and either remove rows containing missing data or replace the missing values with a suitable relacement. The **dropna** function creates a DataFrame with any rows containing missing data removed - you can specify a subset of columns, and whether the row should be removed in *any* or *all* values are missing. You can then use this new DataFrame to determine how many rows contain missing values.

In [13]:
flights.count() - flights.dropDuplicates().dropna(how="any", 
                                                  subset=["ArrDelay", "DepDelay"]).count()

46233

### Clean the Data
Now that you've identified that there are duplicates and missing values, you can clean the data by removing the duplicates and replacing the missing values. The **fillna** function replaces missing values with a specified replacement value. In this case, you'll remove all duplicate rows and replace missing **ArrDelay** and **DepDelay** values with **0**.

In [14]:
data=flights.dropDuplicates().fillna(value=0, subset=["ArrDelay", "DepDelay"])
data.count()

2696983

### Check Summary Statistics
After cleaning the data, you should re-check the statistics - removing rows and changing values may affect the distribution of the data, which in turn could affect any predictive models you might create.

In [16]:
data.describe().select("summary","ArrDelay","DepDelay").show()

+-------+------------------+------------------+
|summary|          ArrDelay|          DepDelay|
+-------+------------------+------------------+
|  count|           2696983|           2696983|
|   mean|6.6679285705545785|10.531134234068217|
| stddev|38.583861473580725| 36.06172819056574|
|    min|               -94|               -63|
|    max|              1845|              1863|
+-------+------------------+------------------+

### Explore Relationships in the Data
Predictive modeling is largely based on statistical relationships between fields in the data. To design a good model, you need to understand how the data points relate to one another and identify any apparent correlation. The **corr** function calculates a correlation value between -1 and 1, indicating the strength of correlation between two fields. A strong positive correlation (near 1) indicates that high values for one column are often found with high values for the other, which a string negative correlation (near -1) indicates that *low* values for one column are often found with *high* values for the other. A correlation near 0 indicates little apparent relationship between the fields.

In [17]:
data.corr("DepDelay", "ArrDelay")

0.9392630367706962

### Use Spark SQL
In addition to using the DataFrame API directly to query data, you can persist DataFrames as table and use Spark SQL to query them using the SQL language. SQL is often more intuitive to use when querying tabular data structures.

In [18]:
data.createOrReplaceTempView("flightData")
spark.sql("SELECT DayOfWeek, AVG(ArrDelay) AS AvgDelay FROM flightData GROUP BY DayOfWeek ORDER BY DayOfWeek").show()

+---------+------------------+
|DayOfWeek|          AvgDelay|
+---------+------------------+
|        1| 7.077989660973244|
|        2|  4.39237404158651|
|        3| 7.234625279280266|
|        4|10.775574715480056|
|        5|  8.71110560964396|
|        6|2.1437428120738304|
|        7|  5.25403935972552|
+---------+------------------+

### Use the Inline SQL *Magic*
Jupyter Notebooks support *magics*, which enable you to include inline code and functionality. For example, the **%%sql** magic enables you to write SQL queries and visualize the results directly in the notebook.

Run the following query, and view the table of results that is returned.

In [19]:
%%sql
SELECT DepDelay, ArrDelay FROM flightData

Change the **Table** visualization of results above to a **Scatter** visualization to see the relationship between the **DepDelay** and **ArrDelay** values more clearly (use the **-** function to plot the actual values) - visualizations like this make it easier to show relationships as apparent *structure* in the data. For example, the positive correlation between **DepDelay** and **ArrDelay** seems to be a linear relationsip, creaing a diagonal line of plotted points.

### Query Multiple Tables
You can create and query multiple temporary tables. Run the cells below to create a temporary table from the **airports** DataFrame, and then use an inline query to query it together with the flights data.

In [20]:
airports.createOrReplaceTempView("airportData")

In [21]:
%%sql
SELECT a.name, AVG(f.ArrDelay) AS avgdelay
FROM flightData AS f JOIN airportData AS a
ON f.DestAirportID = a.airport_id
GROUP BY a.name

As you saw previously, it can sometimes be useful to visualize the results of a query. Change the visualization above to a **Bar** chart, using the **-** function, to see the everage lateness (or earliness) of flights at all destinations.